.row.pagetop
  .col-sm-12
    %h1 Much heading, so title
    %p
      Hello! This page was requested by:
    %p
      .main
        Browser:
        = @browser
        %br
        Version:
        = @version
